@model Booking
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> _userManager;

@{
    ViewData["Title"] = "Create Bookings";
    var user = await _userManager.GetUserAsync(User);
    var firstName = user?.FirstName;
    var lastName = user?.LastName;
}

<div class="pagetitle">
    <h1>Booking</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item">Bookings</li>
        </ol>
    </nav>
</div>



<div class="card">
    <div class="col-lg-6">

        <div class="card-body">
            <h1>Create Bookings</h1>

            <h4>Room Id: @ViewBag.RoomId</h4>
            <hr />
            <div class="row">

                <div class="col-md-4">

                    <form asp-controller="Booking" asp-action="CreateRoomBooking" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <label class="control-label">Room ID</label>
                        <input class="form-control" value="@ViewBag.RoomId" name="RoomId" readonly />

                        <label class="control-label">Guest Name</label>
                        <input class="form-control" value="@firstName @lastName " readonly />
                        <span class="text-danger"></span>

                        <div class="form-group">
                            <label asp-for="CheckIn" class="control-label"></label>
                            <input asp-for="CheckIn" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
                            <span asp-validation-for="CheckIn" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CheckOut" class="control-label"></label>
                            <input asp-for="CheckOut" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
                            <span asp-validation-for="CheckOut" class="text-danger"></span>
                        </div>

                        
                        <br>

                        <div class="form-group">
                            <input type="submit" value="Book Now!" class="btn btn-primary" />
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>



    @*<div>

    <a asp-action="GetAllBookings">Back to List</a>
    </div>*@
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
