@model Room

@{
    ViewData["Title"] = "Edit";
}
<div class="card">
    <div class="col-lg-6">

        <div class="card-body">


            <h1>Room Edit</h1>

            <h4>Room</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-controller="Room" asp-action="Update" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="CategoryId" class="control-label"></label>
                            <input asp-for="CategoryId" class="form-control" />
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Room_Number" class="control-label"></label>
                            <input asp-for="Room_Number" class="form-control" />
                            <span asp-validation-for="Room_Number" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Floor_Number" class="control-label"></label>
                            <input asp-for="Floor_Number" class="form-control" />
                            <span asp-validation-for="Floor_Number" class="text-danger"></span>
                        </div>
                       
                        <label asp-for="Status" class="control-label">Room Status</label>
                        <select asp-for="Status" class="form-control">
                            <option value="true">Available</option>
                            <option value="false">Booked</option>
                        </select>
                        <br/>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
