@model RoomCategories

@{
    ViewData["Title"] = "Create Category";
}


<div class="card">
    <div class="col-lg-6">

        <div class="card-body">


<h1>Create Category</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form  asp-controller="RoomCategory" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Room_Name" class="control-label"></label>
                <input asp-for="Room_Name" class="form-control" />
                <span asp-validation-for="Room_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoOfRooms" class="control-label"></label>
                <input asp-for="NoOfRooms" class="form-control" />
                <span asp-validation-for="NoOfRooms" class="text-danger"></span>
            </div>
            
            @*<div class="form-group">
                <label asp-for="RoleId" class="control-label"></label>
                <select asp-for="RoleId" class ="form-control" asp-items="ViewBag.RoleId"></select>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
        </div>
    </div>

@*<div>
    <a asp-action="GetAllRoomCategories">Back to List</a>
</div>
*@
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
