@model RoomCategories

@{
    ViewData["Title"] = "Create Category";
}
<div class="pagetitle">
    <h1>Room Category</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item">Create Category</li>
        </ol>
    </nav>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form  asp-controller="RoomCategory" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Room_Name" class="control-label"></label>
                <input asp-for="Room_Name" class="form-control" />
                <span asp-validation-for="Room_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Add Category" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
        
@*<div>
    <a asp-action="GetAllRoomCategories">Back to List</a>
</div>
*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
